@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia/Georgia.woff") format("woff"), url("../../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"), local("Georgia Regular"), local("Georgia-Regular");
  font-style: normal;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all .2s;
  transition: all .2s;
}

html {
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.burger__icon, .control-panel {
  display: none;
}

@media (max-width: 1279px) {
  .wrapper {
    max-width: 708px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 300px;
  }
  .help, .donation, .footer {
    display: none;
  }
}

.btn.w768 {
  display: none;
}

.btn {
  margin: 0 auto;
  padding: 1.5rem 4.5rem;
  border: 2px solid #F1CDB3;
  border-radius: 3rem;
  background-color: #F1CDB3;
  text-align: center;
  color: #292929;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.btn--ghost {
  background-color: transparent;
}

.btn--round {
  position: relative;
  height: 5.2rem;
  width: 5.2rem;
  padding: 2rem 2rem;
  text-align: unset;
  line-height: none;
  letter-spacing: unset;
}

.btn--round:disabled {
  color: #CDCDCD;
  border-color: #CDCDCD;
  background-color: #ffffff;
  cursor: not-allowed;
}

.btn--round:active {
  border-color: #F1CDB3;
  background-color: #F1CDB3;
}

.title {
  font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  color: #545454;
}

h2 {
  font-size: 4.4rem;
  line-height: 130%;
}

@media (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
}

h3 {
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
}

@media (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 2rem;
  line-height: 115%;
}

h5 {
  font-size: 1.5rem;
  line-height: 110%;
}

.text {
  font-family: Arial, 'Arial', Helvetica, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4c4c4c;
}

.text--L {
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: 0.02rem;
}

@media (max-width: 767px) {
  .text--L {
    font-family: Arial, 'Arial', Helvetica, Geneva, sans-serif;
    line-height: 160%;
  }
}

@media (max-width: 1279px) {
  .text--L {
    letter-spacing: 0rem;
  }
}

.text--S {
  font-size: 1.2rem;
  line-height: 150%;
  color: #b2b2b2;
}

@-moz-document url-prefix() {
  @media (max-width: 1279px) {
    .text--S {
      letter-spacing: -0.015rem;
    }
  }
}

.text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06rem;
  color: #F1CDB3;
}

/* HEADER Start */
.header {
  height: 13.6rem;
  padding-top: 6.2rem;
  margin-bottom: -21.6rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__logo__title {
  color: #f1cdb3;
  font-size: 3.2rem;
  letter-spacing: 0.19rem;
  line-height: 110%;
}

.header__logo__subtitle {
  color: #ffffff;
  font-size: 1.3rem;
  letter-spacing: 0.13rem;
  line-height: 110%;
  margin-top: 0.9rem;
  padding-left: 0.4rem;
}

.header__nav {
  padding-top: 1.4rem;
  width: 44.3rem;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  width: inherit;
}

.nav__item {
  display: inline-block;
  color: #cdcdcd;
}

.nav__item--active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.nav__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
}

@media (max-width: 1279px) {
  .header {
    padding-top: 3.2rem;
  }
}

@media (max-width: 767px) {
  .header .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav {
    width: unset;
    padding-top: 1.8rem;
    padding-right: 4.3rem;
  }
  .burger__icon {
    display: inline-block;
  }
  .header__nav__list {
    display: none;
  }
}

/* HEADER End */
/* START-SCREEN Start */
.start-screen {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #58483A 0%, #262425 100%), #211F20;
  height: 98.8rem;
  padding: 26rem 4rem 0rem;
}

.start-screen .btn {
  margin: 0;
  padding: 1.3rem 4.57rem;
  padding-left: 4.27rem;
  padding-right: 4.3rem;
  padding-top: 1.4rem;
  padding-bottom: 1.2rem;
  letter-spacing: 0.103rem;
}

.start-screen__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 15.4rem;
}

.start-screen__title {
  width: 31rem;
  height: 11.3rem;
  color: #ffffff;
}

.start-screen__text {
  height: 8.5rem;
  width: 46rem;
  margin: 4.25rem 4.2rem 2.7rem 0rem;
  letter-spacing: 0;
  color: #CDCDCD;
}

@-moz-document url-prefix() {
  .start-screen__text {
    letter-spacing: 0.02rem;
  }
}

@media (max-width: 1279px) {
  .btn.w768 {
    display: block;
  }
  .btn.w1280 {
    display: none;
  }
  .start-screen {
    height: 124.5rem;
    padding: 13.9rem 0rem 0rem;
  }
  .start-screen .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .start-screen .start-screen__text-block {
    height: 36.1rem;
    padding-top: 9rem;
    padding-left: 4.2rem;
    margin: unset;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .start-screen .btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: -0.1rem;
  }
  .start-screen__img {
    width: 56.9rem;
    height: 59.3rem;
    margin-top: 10rem;
  }
}

@media (max-width: 767px) {
  .start-screen {
    height: 90.3rem;
  }
  .start-screen .start-screen__text-block {
    text-align: center;
    padding: 9.15rem 0rem 0;
    margin: 0;
    height: auto;
  }
  .start-screen .start-screen__title {
    width: 20rem;
    margin: 0 auto 4.1rem;
    height: auto;
  }
  .start-screen .start-screen__text {
    height: auto;
    width: auto;
    margin: 0 0 4.2rem;
  }
  .start-screen .start-screen__img {
    width: 26rem;
    height: 27.177rem;
    margin-top: 10.5rem;
  }
}

/* START-SCREEN End */
/* ABOUT Start */
.about {
  height: 58.8rem;
  background: #ffffff;
  padding: 8rem 0 10rem;
}

.about .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .text--L {
  line-height: 160%;
}

.about__img {
  display: block;
  margin: 0 auto;
}

.about__text-block {
  margin-left: 12rem;
  height: 39.4rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about__title {
  width: 37rem;
  padding-top: 1.4rem;
  letter-spacing: 0.21rem;
  margin-bottom: 1rem;
}

.about__text {
  width: 43rem;
  letter-spacing: 0rem;
}

@-moz-document url-prefix() {
  .about__text {
    letter-spacing: 0.02rem;
  }
}

.about__text:first-of-type {
  margin: 1rem 0rem 2.2rem;
}

@media (max-width: 1279px) {
  .about {
    height: 104.8rem;
    padding: 6.6rem 0 10rem;
  }
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__text-block {
    height: unset;
    margin: unset;
    margin-bottom: 8rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about__title {
    padding-top: 1.6rem;
  }
  .about__text:first-of-type {
    margin: unset;
    margin-top: 1.3rem;
  }
  .about__text {
    margin-top: 2.5rem;
  }
}

@media (max-width: 767px) {
  .about {
    height: 97.4rem;
    padding: 4.3rem 0 0rem;
  }
  .about__text-block {
    padding: 0 1.45rem;
    margin: 0 0 3.1rem;
  }
  .about__title, .about__text {
    width: auto;
    margin: 0 auto;
    padding: 0;
  }
  .about__title {
    text-align: center;
    letter-spacing: 0.15rem;
    margin: 0 0 2.4rem;
  }
  .about__text {
    margin-bottom: 1rem;
    letter-spacing: 0rem;
    text-align: justify;
  }
  .about__text:first-of-type {
    margin: 0 0 2.2rem;
  }
  .about__img {
    height: 35.36rem;
    width: 26rem;
  }
}

/* ABOUT End */
/* PETS Start */
.pets {
  height: 87.7rem;
  padding: 8.2rem 0 10rem;
  background-color: #f6f6f6;
}

.pets .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets .wrapper > .btn {
  padding: 1.2rem 4.297rem;
  padding-top: 1.4rem;
  letter-spacing: 0.103rem;
}

.pets .slide .btn {
  padding: 1.3rem 4.35rem;
  letter-spacing: 0.1rem;
}

.pets__title {
  width: 40rem;
  text-align: center;
  padding-left: 0.1rem;
}

.pets__title > span {
  display: inline-block;
  width: 40rem;
  letter-spacing: 0.21rem;
}

.slider, .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.btn--round > svg {
  position: absolute;
  top: calc(50% - 3px);
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.arrow--left {
  margin-right: 5.3rem;
}

.slide {
  height: 43.5rem;
  width: 27rem;
  margin: 5.8rem 0.1rem 5.95rem;
  border: 0px solid transparent;
  border-radius: 0.9rem;
  background-color: #fafafa;
  text-align: center;
}

.img-box {
  width: 27rem;
  height: 27rem;
  background-color: #fafafa;
  border: 0px solid transparent;
  border-top-right-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
}

.slide:hover {
  background-color: #ffffff;
}

.slide__title {
  margin: 3rem auto 4.5rem;
  letter-spacing: 0.115rem;
}

.arrow--right {
  margin-left: 5.3rem;
}

@media (max-width: 1279px) {
  .slider, .slides {
    overflow-x: hidden;
  }
  .arrow--left {
    margin-right: 1.3rem;
  }
  .arrow--right {
    margin-left: 1.3rem;
  }
  .slide__title {
    margin-bottom: 4.6rem;
  }
  .slide:first-of-type {
    margin-right: 4rem;
  }
  .slide {
    margin: 5.8rem 0.05rem 5.95rem;
  }
}

@media (max-width: 767px) {
  .pets {
    height: 79.1rem;
    padding: 4.3rem 0 0rem;
  }
  .pets .pets__title > span {
    width: auto;
    letter-spacing: 0.15rem;
  }
  .pets .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 4.1rem 0 4.2rem -1.1rem;
    padding: 0;
  }
  .pets .slider .slide {
    margin: 0 2rem 2rem;
  }
  .pets .slider .arrow--left, .pets .slider .arrow--right {
    display: none;
    margin: 0;
  }
  .pets .slider .control-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 18.3rem;
    margin-left: 1.1rem;
  }
  .pets .slider .control-panel .arrow {
    display: block;
  }
}

/* PETS End */
/* HELP Start */
.help {
  height: 61.1rem;
  padding: 8.25rem 0 10rem;
  background-color: #ffffff;
}

.help .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__title {
  width: 31.5rem;
  text-align: center;
  margin-bottom: 5.6rem;
  letter-spacing: 0.21rem;
  padding-left: 0.3rem;
}

.help__icons-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120rem;
}

.icon-block {
  height: 11.3rem;
  margin: 0 5rem 5.6rem;
}

.icon-block:nth-of-type(2) {
  margin-right: 6.8rem;
  margin-left: 7rem;
}

.icon-block:nth-of-type(4) {
  margin-right: 7rem;
  margin-left: 6.9rem;
}

.icon-block:nth-of-type(6) {
  margin: auto;
  margin-left: 17.1rem;
}

.icon-block:nth-of-type(7) {
  margin: auto;
  margin-left: 6.2rem;
}

.icon-block:nth-of-type(8) {
  margin: auto;
  margin-left: 6.2rem;
}

.icon-block:nth-of-type(9) {
  margin: auto;
  margin-right: 17.1rem;
}

.help__icon {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0 auto 3rem;
}

.icon__title {
  text-align: center;
  letter-spacing: 0.12rem;
}

@media (max-width: 1279px) {
  .help {
    padding: 8.2rem 0 7rem;
    height: 77.9rem;
  }
  .help__icons-rows {
    width: unset;
    padding: 0 0.9rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .help__icons-rows .icon-block {
    margin: 2.8rem 3rem;
    height: 11.3rem;
    width: 17rem;
  }
  .help__icon {
    margin: 0 auto 2.9rem;
  }
  .help__title {
    margin-bottom: 3rem;
  }
}

/* HELP End */
/* DONATION Start */
.donation {
  height: 46.4rem;
  background-color: #f6f6f6;
  padding: 8.3rem 0 10rem;
}

.donation .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.donation__img {
  width: 50.5rem;
  height: 26.1rem;
  margin-top: 0.9rem;
  margin-right: 0.2rem;
}

.donation__text-block {
  margin-left: 2.8rem;
}

.donation__title {
  width: 29.5rem;
  letter-spacing: 0.21rem;
}

.donation__subtitle {
  margin: 2rem 0 1.9rem;
  letter-spacing: 0.09rem;
}

.wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1CDB3;
  border: 0px solid #F1CDB3;
  border-radius: 0.9rem;
  width: 34.9rem;
  height: 4.3rem;
  padding: 1rem 1.4rem 1rem 1.3rem;
}

.wallet__icon {
  display: block;
  width: 3.54rem;
  height: 3.1rem;
}

.wallet__link {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  line-height: 115%;
  letter-spacing: 0.123rem;
}

.donation__disclaimer {
  font-style: italic;
  width: 38rem;
  text-align: left;
  margin-top: 2rem;
}

@media (max-width: 1279px) {
  .donation {
    height: 78.3rem;
    padding: 8.2rem 0 10rem;
  }
  .donation .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .donation .donation__img, .donation .donation__text-block {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: unset;
    padding: unset;
  }
  .donation .donation__img {
    margin-top: 6rem;
    margin-left: -0.1rem;
  }
}

/* DONATION End */
/* FOOTER Start */
.footer {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 4rem;
  height: 35rem;
}

.footer__title {
  width: 28rem;
  color: #ffffff;
  margin-top: 1.75rem;
  letter-spacing: 0.21rem;
}

.footer-left, .footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 25.4rem;
}

.footer-left {
  margin-left: 0.04rem;
}

.footer-left .footer__title {
  margin-bottom: 0.3rem;
}

.footer-center {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 25.3rem;
}

.footer-center .contact:first-of-type {
  margin-bottom: -0.5rem;
}

.footer-center .footer__title {
  margin-left: -1rem;
}

.footer-right {
  margin-right: -0.1rem;
}

.footer-right .footer__img {
  vertical-align: bottom;
}

.footer__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.8rem;
  height: 4rem;
}

.footer__icon--phone {
  height: 4rem;
}

.footer__icon--pin {
  width: 3.2rem;
  margin-right: 1.2rem;
  margin-left: -1.5rem;
  padding-top: 0.3rem;
  vertical-align: top;
}

.footer__icon--pin:nth-of-type(2) {
  vertical-align: middle;
}

.contact__link {
  vertical-align: middle;
  letter-spacing: 0.12rem;
}

.footer-center .contact:last-of-type .contact__link {
  padding-top: 1rem;
}

@media (max-width: 1279px) {
  .footer {
    height: unset;
    padding-top: 1.4rem;
  }
  .footer .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0rem 0rem 0rem 0rem;
  }
  .footer .footer-center, .footer .footer-left, .footer .footer-right {
    margin: 0 auto;
    padding: unset;
  }
  .footer .footer-left {
    width: 27rem;
  }
  .footer .footer-center {
    width: 30rem;
  }
  .footer .footer-center .contact:first-of-type {
    margin-bottom: unset;
  }
  .footer .footer-center .footer__title {
    margin-right: unset;
    margin-left: unset;
    margin-bottom: 0.5rem;
    vertical-align: middle;
  }
  .footer .footer__icon--pin {
    margin: unset;
    margin-right: 1.2rem;
    margin-left: -0.5rem;
  }
  .footer .footer-right {
    margin-top: 6.1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* FOOTER End */
/*# sourceMappingURL=main.css.map */