@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia/Georgia.woff') format('woff'),
        url('../../assets/fonts/Georgia/Georgia-Bold.woff2') format('woff2'),
        local('Georgia Regular'), local('Georgia-Regular');
        font-style: normal;
        font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

html {
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}

$primary-color: #F1CDB3;
$primary-color--light : #FDDCC4;
$primary-color--ghost: #ffffff;
$color-dark: #292929;
$color-disabled: #CDCDCD;
$gradient-bg--header: url("../../assets/images/noise_transparent@2x.png"),
radial-gradient(100% 215.42% at 0% 0%, #58483A 0%, #262425 100%),
#211F20;
$gradient-bg--footer: url("../../assets/images/noise_transparent@2x.png"),
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), 
#211F20;


// Buttons
.btn {
    width: 20.7rem;
    height: 5.2rem;
    padding: 1.5rem 4.5rem;

    border: 2px solid $primary-color;
    border-radius: 3rem;

    background-color: $primary-color;

    text-align: center;
    color: $color-dark;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06rem;
    text-decoration: none;

    cursor: pointer;
    transition: all 250ms linear;
}

.btn:hover {
    background-color: $primary-color--light;
    border-color: $primary-color--light;
    transition: all 250ms linear;
}

.btn--ghost {
    background-color: $primary-color--ghost;
}
.btn--ghost:hover {
}

.btn--round {
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 6%;
}
.btn--round:hover {
}
.btn--round:disabled {
    color: $color-disabled;
    border-color: $color-disabled;
    background-color: $primary-color--ghost;

    cursor: not-allowed;
}
.btn--round:active {
    border-color: $primary-color;
    background-color: $primary-color;
}
// Text blocks, title etc
.title {
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-size: 4.4rem;
    line-height: 130%;
}
h3 {
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06rem;
}
h4 {
    font-size: 2rem;
    line-height: 115%;
}
h5 {
    font-size: 1.5rem;
    line-height: 110%;
}
.text {
    font-family: Arial, 'Arial', Helvetica, Geneva, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text--L {
    font-size: 1.5rem;
    line-height: 160%;
}
.text--S {
    font-size: 1.2rem;
    line-height: 10%;
}


// links
.links {
}
.links:active {
}
.links:hover {
}

.links--dark {
}
.links--dark:active {
}
.links--dark:hover {
}

/* HEADER Start */

.header {
    background: $gradient-bg--header;
    height: 136px;
}

.header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
    &__title {
        color: #f1cdb3;
        font-size: 3.2rem;
        letter-spacing: 0.06rem;
        line-height: 110%;
    }
    
    &__subtitle {
        color: #ffffff;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        line-height: 110%;
    }
}


.header__nav {
    width: 443px;
}

.header__nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    width: inherit;
}

.nav__item {
    display: inline-block;
    color: #cdcdcd;

    &--active {
        color: #fafafa;
        border-bottom: 3px solid #f1cdb3;
    }
}

.nav__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    text-decoration: none;
}


/* HEADER End */

/* START-SCREEN Start */
.start-screen {
}
.start-screen__title {
}

.start-screen__text {
}
.text--L {
}
.btn {
}
.img {
}
/* START-SCREEN End */

/* ABOUT Start */
/* ABOUT End */
/* PETS Start */
.slide {
}
.slide:hover {
}
/* PETS End */
/* HELP Start */
/* HELP End */
/* DONATION Start */
/* DONATION End */
/* FOOTER Start */
/* FOOTER End */
/*# sourceMappingURL=main.css.map */
